// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #12262c;
$page-headers:          $brand-primary;
$menu-item:            #8a8c8e;